.p-tabmenu .p-tabmenu-nav {
    background: #22c55e;
    border: 1px solid #e5e7eb;
    border-width: 0 0 2px 0;
}

p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #bfd4c7;
    border-color: #bfdbfe;
    color: #f3f4f6;
}