<form [formGroup]="profileForm" (submit)="onSubmit()">
  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-user"></i>
      <input pInputText formControlName="firstName" placeholder="First name" />
    </p-inputGroupAddon>
  </p-inputGroup>
  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-user"></i>
      <input pInputText formControlName="lastName"placeholder="Last name" />
    </p-inputGroupAddon>
  </p-inputGroup>
  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-user"></i>
      <input pInputText formControlName="vatNumber" placeholder="VAT code" />
    </p-inputGroupAddon>
  </p-inputGroup>
  <button type="submit" >Submit</button>
</form>

